.gesh {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid gray;
	padding: 4px;
}

.gosh-icon-32 {
	background: url(../gfx/icon_32.png) no-repeat 0px 0px;
	font-size: 12px;
	padding-left: 36px;
}

.gesh-button {
	float: left;
}

.gesh-button.gosh-icon-32, .gesh-learn {
	font-size:24px;
	line-height:32px;
	vertical-align:top;
	height: 32px;
}

.gesh-shlink {
	display: none;
	margin-top: 3px;
	clear: both;
}

.gesh-shlink input {
	width: 300px;
	border: 1px solid gray;
}

.gesh-clear {
	clear: both;
}